body {
	background-color: black;
}

div {
	border:2px solid white;
	text-align:center;
	font-weight: bold;
	color: white;
	
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	padding: 5px;
	height:auto;
	margin-left: -82px;
	margin-top: -50px;
}

#HD {
	border:2px solid white;
	background-color: black;
	color:white; font-weight: bold;
	text-align:center;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75px;
	height:auto;
	margin-left: -80px;

}

#AP {
	border:2px solid white;
	background-color: black;
	color:white; font-weight: bold;
	text-align:center;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75px;
	height:auto;
	margin-left: 5px;

}

#MoveL {
	border:2px solid white;
	background-color: black;
	color:white; font-weight: bold;
	text-align:center;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75px;
	height:auto;
	margin-left: 5px;
	margin-top: 50px;

}

#MoveR {
	border:2px solid white;
	background-color: black;
	color:white; font-weight: bold;
	text-align:center;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75px;
	height:auto;
	margin-left: -80px;
	margin-top: 50px;

}

#MoveC {
	border:2px solid white;
	background-color: black;
	color:white; font-weight: bold;
	text-align:center;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 160px;
	height:auto;
	margin-left: -80px;
	margin-top: 100px;

}